@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.paginate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginate > li {
  font-size: 16px;
  list-style: none;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
}

.paginate > li:hover {
  background-color: rgb(168, 168, 168);
  color: #fff;
  cursor: pointer;
}

.categoriesMenu:hover {
  background-color: rgb(155, 155, 155);
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
}

.productCard:hover {
  cursor: pointer;
}

.hover {
  cursor: pointer;
}
