.logout {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: #d1d1d1;
  cursor: pointer;
}

.logout:hover {
  color: #fff;
  transition: 0.2s linear;
}
