.logout {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: #d1d1d1;
  cursor: pointer;
}

.logout:hover {
  color: #fff;
  transition: 0.2s linear;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
top: 46px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-size: 13px !important;
}

.profile{
  /* style={{fontSize:'24px' , color:'lightgrey'}} */
  font-size: 24px;
  color: lightgrey;
}

.menu-icon{
  margin-right: 5px;
  color: black;
  font-size: 17px;
}