body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/currency-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}